* {
  box-sizing: border-box;
}

header{
  text-align: center;
  margin: auto;
  margin-bottom: 0;
  font-weight: 300;
  padding: 10px;
  padding-bottom: 30px;
  top: 0;
  width: 100%;
  background-color: rgba(38, 201, 157, 0.427);
}

.links{
  float: right;
}

img{
  float: left;
}