* {
  box-sizing: border-box;
}

.app-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.link{
  color:rgba(7, 92, 70, 0.673);
  font-size: 18px;
  padding: 5px;
}