.create_recipe{
  margin-bottom: 60px;
}

.create_recipe input{
  margin: 5px;
}

.create_recipe fieldset{
  margin: auto;
  padding-top: 20px;
  margin-bottom: 25px;
  width: 75%;
}

.both-lists{
  display: flex;
  margin: auto;
  margin-top: 0px;
}

.ingredient-list{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 40px;
}

.instructions-list{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 40px;
}

button{
  font-size:15px;
  width:150px;
  height:30px;
  padding: 5px;
  background: rgba(38, 201, 158, 0.673);
  border-radius:5px;
  cursor: pointer;
}

/* if on bigger screen */
@media only screen and (max-width: 768px) {
  .both-lists{
    display: inline-block;
    margin: auto;
    margin-top: 0px;
  }
}